.headerContainer.header .toolbar-background {
  background-color: #049fd9;
}

ion-input {
    border-bottom: 1px solid #00b9e8;
}

.frequently-viewed-accordion .scroll-content {
  overflow: hidden;
}

.toolbar-ios ion-title {
    padding: 0;
}

.homePage .productDetails {
    background-color: #FFF;
    padding: 5px;
    width: 120px;
    display: inline-block;
    margin-bottom: 20px;
    color: #000;
}

.homePage .productDetails ion-icon {
    font-size: 26px;
}

.homePage .productDetails span {
    font-size: 11px;
}

.pull-right {
    float: right;
}

.button-ios {
    width: 80%;
    height: 35px;
}

.checkOut {
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 90%;
}

/////////////////////////////////////

body{
  background: #f7f7f7;
  width: 460px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: "Verdana";
  font-size: 13px;

}
.block{
  background: linear-gradient(#049fd9, #049fd9);
  color: #fff;
  padding-top: 5px;
  box-shadow: 0 1px 2px #ccc;
  &:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  &:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.block input[type='radio']:checked ~ .info{
  height: 220px;
  transition: .3s ease-in;
}

.block input[type='radio']:checked ~ .info.infoLast{
  height: 320px;
  transition: .3s ease-in;
}

input[type='radio']{
  width: 100%;
  display: none;
}

.tabTitle {
  width: 450px;
  max-width: 100%;
  cursor: pointer;
}

.block span {
  font-family: 'Arial';
  font-weight: bold;
  display: block;
  padding: 10px 12px 12px 15px;
  margin: 0;
  cursor: pointer;
}

.info{
  background: #fff;
  color: #222;
  width: 100%;
  height: 0;
  line-height: 2;
  padding-left: 15px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  transition: .3s ease-out;
  .item-inner {
    padding: 0!important;
  }
}

::selection{
  background: #222;
  color: #fff;
}

.tiles {
    display: inline-block;
    text-align: center;
    min-height: 200px;
}
.toggle-icon{
     font-size: 26px;
    float: right;
    margin-top: -32px;
    margin-right: 10px;
}

