<ion-header class="headerContainer">
    <ion-navbar class="navbar">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Provide Order Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="homePage">
    <div>
        <div class="block">
            <input type="radio" name="city" id="cityA" checked />
            <label (click)="toggle()" class="tabTitle" for="cityA"><span>Frequently Ordered</span>
            <ion-icon class="toggle-icon" *ngIf="expanded1" ios="ios-add-circle" md="md-add-circle"></ion-icon>
             <ion-icon class="toggle-icon" *ngIf="!expanded1" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
            </label>
            <div class="info" [ngClass]="{'expandFirstInfo': !expanded1}" style="padding: 0;">
                <ion-content class="frequently-viewed-accordion">
                    <ion-list>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/cocktailcubed.gif">
                            </ion-thumbnail>
                            <div>Traditional Cubed Ice</div>
                            <p style="display: inline">10lb</p>
                            <span style="font-weight: normal; margin-left: -11px; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Amount: $1.29</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>
                            </ion-row>
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/cocktailcubed.gif">
                            </ion-thumbnail>
                            <div>Traditional Cubed Ice</div>
                            <p style="display: inline">20lb</p>
                            <span style="font-weight: normal; margin-left: -11px; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Amount: $1.99</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>
                            </ion-row>
                        </ion-item>

                    </ion-list>
                </ion-content>
            </div>
        </div>
        <div class="block">
            <input type="radio" name="city" id="cityC" />
            <label (click)="toggle1()" class="tabTitle" for="cityC"><span>More</span>
             <ion-icon class="toggle-icon" *ngIf="expanded2" ios="ios-add-circle" md="md-add-circle"></ion-icon>
             <ion-icon class="toggle-icon" *ngIf="!expanded2" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>

            </label>

            <div class="info" [ngClass]="{'expandLastInfo': !expanded2}" style="padding: 0;">
                <ion-content style="padding: 0;">
                    <ion-list>
                     <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/crystalclassic.gif">
                            </ion-thumbnail>
                            <h2>Crystal Classic Cubes</h2>
                            <p style="display: inline;">5lb</p>
                            <span style="font-weight: normal; margin-left: -11px; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666; margin-left: -11px">Amount: $0.99</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/crystalclassic.gif">
                            </ion-thumbnail>
                            <h2>Crystal Classic Cubes</h2>
                            <p stayle="display: inline">5lb</p>
                            <span style="font-weight: normal; margin-left: -11px; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Amount: $0.99</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/blockice.gif">
                            </ion-thumbnail>
                            <div>Block Ice</div>
                            <p style="display: inline">10lb</p>
                            <span style="font-weight: normal; margin-left: -11px; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Amount: $0.80</span>

                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/dryice.gif">
                            </ion-thumbnail>
                            <h2>Dry Ice</h2>
                            <p style="display: inline">10lb</p>
                            <span style="font-weight: normal; margin-left: -11px; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Amount: $0.90</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </div>
        </div>
    </div>

    <div class="checkOut">
        <button style="background-color: #1679b5; color: #fff" (click)="gotoPage()" ion-button color="primary" full>Checkout</button>
    </div>
</ion-content>
