<ion-header class="headerContainer">
    <ion-navbar class="navbar">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Provide Order Details</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="homePage">
    <div>
        <div class="block">
            <input type="radio" name="city" id="cityA" checked />
            <label (click)="toggle()" class="tabTitle" for="cityA"><span>Frequently Ordered</span>
            <ion-icon class="toggle-icon" *ngIf="expanded1" ios="ios-add-circle" md="md-add-circle"></ion-icon>
             <ion-icon class="toggle-icon" *ngIf="!expanded1" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
            </label>
            <div class="info" style="padding: 0;">
                <ion-content class="frequently-viewed-accordion">
                    <ion-list>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/cocktailcubed.gif">
                            </ion-thumbnail>
                            <div>Traditional Cubed Ice</div>
                            <p style="display: inline">10lb</p>
                            <span style="font-weight: normal; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Price: $1.29</span>
                            <!-- <ion-row align-items-center>
                                <ion-col col-3></ion-col>
                                <ion-col class="icon-remove">
                                    <ion-icon (click)="decrease(1)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
                                </ion-col>
                                <ion-col col-3 class="input-container">
                                    <input [(ngModel)]="counter['1']" placeholder="1" style="width:100%" />
                                </ion-col>
                                <ion-col class="icon-add">
                                    <ion-icon (click)="increase(1)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
                                </ion-col>

                            </ion-row> -->
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>

                            <!--<button ion-button clear item-end>View</button>-->
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/crystalclassic.gif">
                            </ion-thumbnail>
                            <h2>Crystal Classic Cubes</h2>
                            <p style="display: inline;">5lb</p>
                            <span style="font-weight: normal; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Price: $0.99</span>
                            <!-- <ion-row align-items-center>
                                <ion-col col-3></ion-col>
                                <ion-col class="icon-remove">
                                    <ion-icon (click)="decrease(2)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
                                </ion-col>
                                <ion-col col-3 class="input-container">
                                    <input [(ngModel)]="counter['2']" placeholder="1" style="width:100%" />
                                </ion-col>
                                <ion-col class="icon-add">
                                    <ion-icon (click)="increase(2)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
                                </ion-col>

                            </ion-row> -->
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                            <!--<button ion-button clear item-end>View</button>-->
                        </ion-item>
                    </ion-list>
                </ion-content>
            </div>
        </div>
        <div class="block">
            <input type="radio" name="city" id="cityC" />
            <label (click)="toggle1()" class="tabTitle" for="cityC"><span>More</span>
             <ion-icon class="toggle-icon" *ngIf="expanded2" ios="ios-add-circle" md="md-add-circle"></ion-icon>
             <ion-icon class="toggle-icon" *ngIf="!expanded2" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>

            </label>

            <div class="info infoLast" style="padding: 0;">
                <ion-content style="padding: 0;">
                    <ion-list>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/cocktailcubed.gif">
                            </ion-thumbnail>
                            <div>Traditional Cubed Ice</div>
                            <p style="display: inline">20lb</p>
                            <span style="font-weight: normal; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Price: $1.99</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                            <!-- <ion-row align-items-center>
                                <ion-col col-3></ion-col>
                                <ion-col class="icon-remove">
                                    <ion-icon (click)= "decrease(3)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
                                </ion-col>
                                <ion-col col-3 class="input-container">
                                    <input [(ngModel)]="counter['3']" placeholder="1" style="width:100%"/>
                                </ion-col>
                                <ion-col class="icon-add">
                                    <ion-icon (click)= "increase(3)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
                                </ion-col>

                            </ion-row> -->

                            <!--<button ion-button clear item-end>View</button>-->
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/cocktailcubed.gif">
                            </ion-thumbnail>
                            <div>Traditional Cubed Ice</div>
                            <p style="display: inline">10lb</p>
                            <span style="font-weight: normal; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Price: $1.29</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/crystalclassic.gif">
                            </ion-thumbnail>
                            <h2>Crystal Classic Cubes</h2>
                            <p stayle="display: inline">5lb</p>
                            <span style="font-weight: normal; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Price: $0.99</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                            <!-- <ion-row align-items-center>
                                <ion-col col-3>


                                </ion-col>
                                <ion-col class="icon-remove">
                                    <ion-icon (click)= "decrease(4)" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
                                </ion-col>
                                <ion-col col-3 class="input-container">
                                    <input [(ngModel)]="counter['4']" placeholder="1" style="width:100%"/>
                                </ion-col>
                                <ion-col class="icon-add">
                                    <ion-icon (click)= "increase(4)" ios="ios-add-circle" md="md-add-circle"></ion-icon>
                                </ion-col>

                            </ion-row> -->
                            <!--<button ion-button clear item-end>View</button>-->
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/blockice.gif">
                            </ion-thumbnail>
                            <div>Block Ice</div>
                            <p style="display: inline">10lb</p>
                            <span style="font-weight: normal; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Price: $0.80</span>

                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                            <!--<button ion-button clear item-end>View</button>-->
                        </ion-item>
                        <ion-item>
                            <ion-thumbnail item-start>
                                <img src="assets/img/dryice.gif">
                            </ion-thumbnail>
                            <h2>Dry Ice</h2>
                            <p style="display: inline">10lb</p>
                            <span style="font-weight: normal; display: inline; font-size: 14px; font-family: Roboto, Helvetica Neue, sans-serif; color: #666">Price: $0.90</span>
                            <ion-row>
                                <ion-col col-3>
                                </ion-col>
                                <ion-col col-9>
                                    <input type="text" value="1" placeholder="1" style="width:100%" />
                                </ion-col>

                            </ion-row>
                            <!-- <ion-row align-items-center>
                                <ion-col col-3></ion-col>
                                <ion-col class="icon-remove">
                                    <ion-icon (click)= "decrease()" ios="ios-remove-circle" md="md-remove-circle"></ion-icon>
                                </ion-col>
                                <ion-col col-3 class="input-container">
                                    <input placeholder="1" style="width:100%"/>
                                </ion-col>
                                <ion-col class="icon-add">
                                    <ion-icon (click)= "increase()" ios="ios-add-circle" md="md-add-circle"></ion-icon>
                                </ion-col>

                            </ion-row> -->
                            <!--<button ion-button clear item-end>View</button>-->
                        </ion-item>
                    </ion-list>
                </ion-content>
            </div>
        </div>
        <!-- <div class="productDetails">
            <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-outline"></ion-icon>
            <ion-icon ios="ios-add-circle-outline" md="md-add-circle-outline" style="float:right"></ion-icon>
            <br><br>
            <ion-input placeholder="10"></ion-input>
            <br>
            <span>10# COCKTAIL - 1000</span>
        </div>
        <div class="productDetails pull-right">
            <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-outline"></ion-icon>
            <ion-icon ios="ios-add-circle-outline" md="md-add-circle-outline" style="float:right"></ion-icon>
            <br><br>
            <ion-input placeholder="10"></ion-input>
            <br>
            <span>10# COCKTAIL - 1000</span>
        </div>
        <div class="productDetails">
            <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-outline"></ion-icon>
            <ion-icon ios="ios-add-circle-outline" md="md-add-circle-outline" style="float:right"></ion-icon>
            <br><br>
            <ion-input placeholder="10"></ion-input>
            <br>
            <span>10# COCKTAIL - 1000</span>
        </div>
        <div class="productDetails pull-right">
            <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-outline"></ion-icon>
            <ion-icon ios="ios-add-circle-outline" md="md-add-circle-outline" style="float:right"></ion-icon>
            <br><br>
            <ion-input placeholder="10"></ion-input>
            <br>
            <span>10# COCKTAIL - 1000</span>
        </div>
        <div class="productDetails">
            <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-outline"></ion-icon>
            <ion-icon ios="ios-add-circle-outline" md="md-add-circle-outline" style="float:right"></ion-icon>
            <br><br>
            <ion-input placeholder="10"></ion-input>
            <br>
            <span>10# COCKTAIL - 1000</span>
        </div>
        <div class="productDetails pull-right">
            <ion-icon ios="ios-remove-circle-outline" md="md-remove-circle-outline"></ion-icon>
            <ion-icon ios="ios-add-circle-outline" md="md-add-circle-outline" style="float:right"></ion-icon>
            <br><br>
            <ion-input placeholder="10"></ion-input>
            <br>
            <span>10# COCKTAIL - 1000</span>
        </div> -->
    </div>

    <div class="checkOut">
        <!-- <button (click)="gotoPage()" ion-button>Checkout</button> -->
        <button style="background-color: #1679b5; color: #fff" (click)="gotoPage()" ion-button color="primary" full>Checkout</button>
    </div>
</ion-content>
