.badge{
	background-color: red;
	width: 35px;
    height: 20px;
    border-radius: 45%;
	color: #FFF;
	text-align: center;
	padding-top: 2px;
}

.pull-right{
	float: right;
}

.button-ios{
	width: 80%;
    height: 35px;
}

.submitOrder{
	text-align:center;
	position:fixed;
	bottom:10px;
	width:90%;
}