// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ion-page,
.content {
    background: #f5f5f5;
    color: #333;
}

.header {
    .toolbar-background,
    .toolbar-background-md {
        background: #357BAC;
    }
    * {
        color: #fff !important;
    }
}

.text-center {
    text-align: center;
}

.add-margin {
    margin: 10px;
}

.add-margin-top {
    margin-top: 10px;
}

.add-padding-top {
    margin-top: 10px;
}

.app-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    .footer-button {
        width: 80%;
        margin: 20px auto;
    }
}

.add-padding {
    padding: 10px;
}
.icon-remove{
    text-align: right;
    ion-icon{
        color:#de0f0f;
        font-size: 26px;
    }
}
.icon-add{
    ion-icon{
        color:#1b6d1b;
        font-size: 26px;
    }
}
.input-container{
    text-align: center;
    input{
        text-align: center;
        max-width: 60px;
    }
}