.headerContainer.header .toolbar-background {
  background-color: #049fd9;
}

.issue-details {
    .badge {
        background-color: red;
        width: 35px;
        height: 20px;
        border-radius: 45%;
        color: #FFF;
        text-align: center;
        padding-top: 2px;
    }
    img {
        width: 40px;
    }
    .pull-left {
        float: left;
    }
    .pull-right {
        float: right;
    }
    .item-ios.dateTime {
        margin: 30px 0 30px;
        padding: 0;
    }
    .button-ios {
        width: 80%;
        height: 35px;
    }
    .submitOrder {
        text-align: center;
        position: fixed;
        bottom: 10px;
        width: 90%;
    }
    .uploaderContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #fff;
      border-radius: 4px;
      margin-bottom: 10px;
      .uploader {
        font-size: 35px;
        &:hover {
          cursor: pointer;
        }
      }
      .file-uploader:hover {
        cursor: pointer;
      }
    }
    .description-container {
      margin-top: 10px;
      background: #fff;
      border-radius: 4px;
      label {
        padding: 10px 0px 0px 10px;
        display: inline-block;
        font-weight: 500;
      }
      .input {
        border-radius: 4px;
      }
      .text-input {
        height: 180px;
        border: 1px solid #d3d3d3;
      }
    }
    .dateTime {
      border-radius: 4px;
    }
}
